 
<%- include('../includes/head.ejs') %> 
<link rel="stylesheet" href="/css/form.css">
<link rel="stylesheet" href="/css/auth.css">
<body>
<%- include('../includes/nav.ejs') %> 
</header>
<main>
  <% if (errorMessage ) { %>
    <div class="user-message user-message--error">
      <%= errorMessage  %>
    </div>
  <% } %>
  <form class="login-form" action="/new-password" method="POST">
    <div class="form-control">
      <input type="password" name="password">
    </div>
    <input type="hidden" type="userId" name="userId" value="<% userId %>">
    <input type="hidden" type="passwordToken" name="passwordToken" value="<% passwordToken %>">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
    <button type="submit">Update password</button>
  </form>
</main>
<%- include('../includes/end.ejs') %> 
