 
<%- include('../includes/head.ejs') %> 
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/form.css">
<body>
<%- include('../includes/nav.ejs') %> 
</header>
<main>
  <form class="product-form" action="/admin/<%= isEdited ? 'edit' : 'add' %>-product" method="POST">
    <div class="form-control">
      <label for="title">Title</label>
      <input type="text" name="title" value="<%= isEdited ? product.title : '' %>">
    </div>
    <div class="form-control">
      <label for="imageUrl">Image Url</label>
      <input type="text" name="imageUrl"  value="<%= isEdited ? product.imageUrl : '' %>">
    </div>
    <div class="form-control">
      <label for="description">Description</label>
      <textarea name="description" rows="5" ><%= isEdited ? product.description : ''  %></textarea>
    </div>
    <div class="form-control">
      <label for="price">Price</label>
      <input type="number" name="price" step="0.01" value="<%= isEdited ? product.price : '' %>">
    </div>
    <% if (isEdited) { %>
    <input type="hidden" name="productId" value="<%= product._id %>">
    <% } %>
    <button type="submit"><%= isEdited ? 'Edit product' : 'Add product'%></button>
  </form>
</main>
<%- include('../includes/end.ejs') %> 
