<%- include('../includes/head.ejs') %>
</head>
<body>
  <%- include('../includes/nav.ejs') %> 
  </header>
  <main>
    <h1>List of products</h1>
    <% if (products.length > 0) { %>
      <% products.forEach(product => { %>
        <div class="ui card">
          <div class="image">
            <img src="<%=product.imageUrl%>" alt="A Book">
          </div>
          <div class="content">
            <h1 class="header"><%= product.title %></h1>
            <p class="meta">£<%= product.price %></h2>
            <p class="description"><%= product.description %></p>
          </div>
             <div class="">
                 <button  class="tiny ui orange basic button">
                  <a href="/admin/edit-product/<%= product._id %>?edit=true">Edit</a>
                </button>
                <form action="/admin/delete-product" method="POST">
                  <input type="hidden" name="productId" value="<%= product._id %>">
                  <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
                  <button class="small ui negative button" type="submit">Delete</button>
                </form>
             </div>
        </div>
    <% }) %>
    <% } %>
  </main>
<%- include('../includes/end.ejs') %> 
