<header class="main-header">
  <nav class="ui secondary pointing menu">
    <a class="item <%= path === '/' ? 'active' : ''%>" href="/">Shop</a>
    <a href="/product-list" class="item <%= path === '/product-list' ? 'active' : ''%>">Products</a>
    <% if (isAuthenticated) { %>
      <a href="/cart" class="item <%= path === '/cart' ? 'active' : ''%>">Cart</a>
      <a href="/orders" class="item <%= path === '/orders' ? 'active' : ''%>">Orders</a>
      <a href="/admin/add-product" class="item <%= path === '/admin/add-product' ? 'active' : ''%>">Add Product</a>
      <a href="/admin/product-list" class="item <%= path === 'admin/product-list' ? 'active' : ''%>">Admin Products</a>
    <% } %>
    <% if (!isAuthenticated) { %>
      <div class="right menu" menu>
        <a href="/login" class="item <%= path === '/login' ? 'active' : ''%>">Login</a>
        <a class="item <%= path === '/signup' ? 'active' : '' %>" href="/signup">Signup</a>
      </div>
    <% } else { %>
      <div class="right menu">
        <form action="/logout" method="POST">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
          <button  class="ui item" type='submit'>Logout</button>
        </form>
      </div>
    <% } %>
  </nav>