<header class="main-header">
  <nav class="main-header__nav">
    <ul class="main-header__item-list">
      <li class="main-header__item">
        <a class="<%= path === '/' ? 'active' : ''%>" href="/">Shop</a>
      </li>
      <li class="main-header__item">
        <a href="/product-list" class="<%= path === '/product-list' ? 'active' : ''%>">Products</a>
      </li>
      <% if (isAuthenticated) { %>
        <li class="main-header__item">
          <a href="/cart" class="<%= path === '/cart' ? 'active' : ''%>">Cart</a>
        </li>
        <li class="main-header__item">
          <a href="/orders" class="<%= path === '/orders' ? 'active' : ''%>">Orders</a>
        </li>
        <li class="main-header__item">
          <a href="/admin/add-product" class="<%= path === '/admin/add-product' ? 'active' : ''%>">Add Product</a>
        </li>
        <li class="main-header__item">
          <a href="/admin/product-list" class="<%= path === 'admin/product-list' ? 'active' : ''%>">Admin Products</a>
        </li>
      <% } %>
      <% if (!isAuthenticated) { %>
      <li class="main-header__item">
        <a href="/login" class="<%= path === '/login' ? 'active' : ''%>">Login</a>
      </li>
      <li class="main-header__item">
        <a class="<%= path === '/signup' ? 'active' : '' %>" href="/signup">Signup</a>
      </li>
      <% } else { %>
        <li class="main-header__item">
          <form action="/logout" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
            <button type='submit'>Logout</button>
          </form>
        </li>
      <% } %>
    </ul>
  </nav>