<%- include('../includes/head.ejs') %>
</head>
<%- include('../includes/nav.ejs') %>
  <link rel="stylesheet" href="/css/main.css">
</header>
<body>
  <main>
    <% if (orders.length > 0) { %>
      <% orders.forEach(order => { %>
        <h2>Order Id: <%= order._id%></h2>
        <a href="/orders/<%= order._id%>">Invoice</a>
        <% order.products.forEach(productData => { %>
          <p><%= productData.product.title%></p>
          <p># <%= productData.quantity%></p>
        <% }) %>
      <% }) %>
      <% } else { %>
    <p>No order yet</p>
    <% } %>
  </main>
<%- include('../includes/end.ejs') %>
  